@import "tailwindcss";

@layer base {
  :root {
    --font-botanika: "botanika-web", sans-serif;
    --font-ciclo: "ciclo-display", sans-serif;
  }
  
  body {
    @apply bg-fuchsia-950;
    font-family: var(--font-botanika);
  }
}

@keyframes rotatePulse {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(90deg);
  }
  33% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-rotate-pulse {
  animation: rotatePulse 3s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.animate-fade-pulse {
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}


