---
// Componente para la navegación del slider
---

<div class="pagination" id="pagination">
  <div class="arrow arrow-left">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5L8.25 12l7.5-7.5"
      />
    </svg>
  </div>
  <div class="arrow arrow-right">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M8.25 4.5l7.5 7.5-7.5 7.5"
      />
    </svg>
  </div>
  <div class="progress-sub-container">
    <div class="progress-sub-background">
      <div class="progress-sub-foreground"></div>
    </div>
  </div>
  <div class="slide-numbers" id="slide-numbers"></div>
</div>